* {
  margin: 0;
  padding: 0;
}

.container {
  position: static;
  width: 100vw;
  height: 100vh;
  background: #f3f5fc;
}

.texto {
  position: absolute;
  width: 42%;
  height: 60%;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background-color: #fcf3f3;
}

.texto::placeholder {
  color: #0e0444;
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  position: absolute;
  width: 80%;
  left: 20%;
  top: 80%;
}

.terminos p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #0c0c0c;
  opacity: 1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones,
.botones2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
}

.botones {
  top: 82%;
}

.botones2 {
  top: 90%;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 25%;
  background-color: #0a3871;
  border-radius: 50% 20% / 10% 40%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1px;
  text-align: center;
  color: #fff;
}

.btn-copiar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1%;
  gap: 8px;
  width: 15%;
  background: #d8dfe8;
  border: 3px solid #0a3871;
  border-radius: 50% 20% / 10% 40%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 2px;
  text-align: center;
  color: #0a3871;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 75%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #d11922;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
}

.imglogo {
  margin-top: 25px;
}

@media (max-width: 57.5em) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptar {
    width: 100%;
  }
  .texto {
    width: 80%;
    height: 60%;
    left: 10%;
    top: 5%;
  }
  .terminos {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .terminos p {
    font-size: 16px;
  }
  .encriptado {
    width: 80%;
    height: 15%;
    left: 10%;
    top: 80%;
  }
  .mensaje-encriptado {
    width: 100%;
    top: 15%;
  }
  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}
